@media only screen and ( max-width: 485px ) {

  .contacts {
    & img {
      float: none !important;
      margin: 0 auto;
      text-align: center;
    }
    //background: #151515;
  } // contacts

  .contactsItem{
    margin: 10px 10px 0 10px;
    &:last-child {
    } // last-child
    &__img {
      &-unactive {
      } // -unactive
    } // __img
    &__descr {
    } // __desc
    &__price {
      &-discount {
        &::after {
        } // after
      } // -discout
      &-unactive {
      } // -unactive
    } // __price
    &__btn {
      &:hover {
      } // hover
      &-unactive {
        &:hover {
        } // hover
      } // -unactive
    } // __btn
  } // contactsItem

} // max485px

@media only screen and ( min-width: 485px ) {

  .contactFormBtn-save {
    position: absolute;
    margin-top: -55px;
    margin-left: 185px;
  } // contactFormBtn-save
}