@import "var";

* {
  margin: 0;
  padding: 0;
  outline: none;
} // *

body {
  font: normal 1.2em/1 Arial,sans-serif;
  background-color: $bgColor;
  overflow-x: hidden;
} // body

input{
  width: 300px;
  margin: 1px auto;
  font-size: 20px;
  background: $bgColorLite;
  color: $colorFontH1;
  padding: 5px;
  border: $bgColor;
  &:hover, :active {
    //box-shadow: -2px 0 pink;
    background: $colorBtnActive;
    color: $colorFontHover;
  } // hover
  &-spanISearch{
  } // spanISearch
}

.contactFormIn input{
  // text-align: center;
  &:hover, :active {
    //box-shadow: -2px 0 pink;
    //background: $colorBtnActive;
    //background: transparent;
    color: $colorFontH1;
  }
}

.wrapperContact{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
}

@mixin myflex(){
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
}

@mixin contactsStyle ($color, $margin, $radius) {
  background: $color;
  margin-right: $margin;
  border-radius: $radius;
}

img {
  margin-top: -10px;
  height: 100%;
  width: auto;
  border-radius: 5px;
  &:hover{
    cursor: pointer;
  }
} // img

.wrapper {
  max-width: 1366px;
  margin: 0 auto;
  padding: 0;
  background: $bgColor;
  width: 100%;
} // wrapper

.contact{
  justify-content: center;
  margin: 15px auto;
} // contact

.contacts{
  padding: 10px;
  & input{
    max-width: 250px;
  } // input
}// contacts

.contactsItem {
  //padding: 10px;
  //@include contactsStyle ( $bgColor, 10px, 3px);
  &-unactive {
    //@include contactsStyle ( pink, 30px, 3px);
  } // -unactive
  &__img {
    padding-top: 40px;
    width: 60px;
    height: 100px;
    margin: 0 auto;
  } // __img
} // productsItem

.contactsForm {
  display: flex;
  flex-direction: column;
  padding: 20px;
} // contactsForm

input:-webkit-autofill,
input:-webkit-autofill:active{
  -webkit-box-shadow: 0 0 0px 1000px $colorBtnActive inset !important;
  color: $colorFontH1;
}

.contactFormIn {
  max-width: 180px;
  font-size: 18px;
  color: $colorFontH1;
  padding: 5px;
  & input{
    &:hover, :active {
      border: $colorBtnActive;
      background: $bgColorLite;
    } // hover
  } // input
  &__firstName{
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    box-shadow: inset 1px 1px #2E2E2E;
    background: $bgColorLite;
    &:hover{
      box-shadow: inset 2px 2px #151515;
    }
  } //__firstName
  &__lastName{
    box-shadow: inset 1px 0px #151515;
    &-unactive{
      //display: none;
    } // -unactive
    &:hover{
      box-shadow: inset 2px 0px #151515;
    } // hover
  } // __lastName
  &__phoneNumber{
    box-shadow: inset 1px 0px #151515;
    &-unactive{
      //display: none;
    } // -unactive
    &:hover{
      box-shadow: inset 2px 0px #151515;
    } // hover
  } // __phoneNumber
  &__contactEmail{
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    box-shadow: inset 1px -1px #151515;
    &-unactive{
      //display: none;
    } // -unactive
    &:hover{
      box-shadow: inset 2px -2px #151515;
    } // hover
  } // __contactEmail
} // contactForm

.contactFormBtn{
  display: flex;
  justify-content: center;
  position: absolute;
  margin-top: 8px;
  margin-left: 34px;
  font-weight: 800;
  font-size: 18px;
  width: 28px;
  height: 28px;
  line-height: 25px;
  background: $colorBtnActive;
  color: white;
  border-radius: 5px;
  transition: box-shadow .3s;
  //box-shadow: inset 1px 1px 0 black;
  border: inset 1px black;
  &:hover {
    cursor: pointer;
    box-shadow: inset 2px 2px 0 black;
  } // hover
  &__search{
    &-unactive{
      display: none;
    } // -unactive
  } // __search
  &__add{
  } // __add
  &__photo{
    float: left;
    margin-left: -42px;
    margin-top: -2px;
    &-unactive{
      display: none;
    } // -unactive
  } // __photo
  &-save{
    position: absolute;
    font-size: 40px;
    height: 50px;
    width: 50px;
    line-height: 40px;
    margin-top: -200px;
  }
} // contactFormBtn

.contactForm{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px;
  margin-right: 33px;
}

.faSearch {
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  margin-right: -29px;
  margin-top: 4px;
  position: relative;
  color: $bgColor;
  z-index: 1;
  float: right;
}

.faSearch + input {
  padding-right: 26px;
}

.fasCamera{
  position: absolute;
  margin-top: 2px;
  margin-left: -36px;
}

.inputContactsIcon{
  &:hover{
    color: darkred !important;
    cursor: pointer;
  }
}

.deleteContacts{
  position: absolute;
  display: inline-block;
  margin: 0 auto;
  margin-top: -255px;
  margin-left: -280px;
  width: 300px;
  height: 315px;
  z-index: 5;
  background-color: black;
  border-radius: 10px;
  transition-duration: 1s;
  text-align: center;
  &__deleteContactsButton{
    display: block;
    position: absolute;
    top: -50px;
    left: 30px;
    width: 250px;
    height: 30px;
    background-color: $bgColorLite;
    color: black;
  }
}

footer{
  padding-top: 40px;
  margin: 0 auto;
  text-align: center;
  height: 330px;
  background: $bgColor;
}

@import "media";
